<kn-bottom-sheet>
    <div header class="sheet-header-demo">
      <h2 class="sheet-title">Пример</h2>
    </div>

    <div class="sheet-body">
      <p>Контент шторки. Закрывается по клику на backdrop. Высота меняется drag’ом.</p>
      <label class="row">
        <span>Status</span>
        <select>
          <option>active</option>
          <option>on_leave</option>
        </select>
      </label>
    </div>

    <div class="sheet-body">
      <p>Контент шторки. Закрывается по клику на backdrop. Высота меняется drag’ом.</p>
      <label class="row">
        <span>Status</span>
        <select>
          <option>active</option>
          <option>on_leave</option>
        </select>
      </label>
    </div>

    <div class="sheet-body">
      <p>Контент шторки. Закрывается по клику на backdrop. Высота меняется drag’ом.</p>
      <label class="row">
        <span>Status</span>
        <select>
          <option>active</option>
          <option>on_leave</option>
        </select>
      </label>
    </div>

    <div class="sheet-body">
      <p>Контент шторки. Закрывается по клику на backdrop. Высота меняется drag’ом.</p>
      <label class="row">
        <span>Status</span>
        <select>
          <option>active</option>
          <option>on_leave</option>
        </select>
      </label>
    </div>

    <div class="sheet-body">
      <p>Контент шторки. Закрывается по клику на backdrop. Высота меняется drag’ом.</p>
      <label class="row">
        <span>Status</span>
        <select>
          <option>active</option>
          <option>on_leave</option>
        </select>
      </label>
    </div>
  </kn-bottom-sheet>